<div class="d-flex flex-column align-items-center position-absolute top-50 start-50 translate-middle">
    <h1>Benvenuto nella Homepage</h1>
    <div class="d-flex align-items-center mt-5">
        <button mat-raised-button color="primary" routerLink="/utenti" class="me-4">
            <a routerLink="/utenti">Vai ad utenti</a>
        </button>
        <button mat-raised-button color="primary" routerLink="/store">
            <a routerLink="/store">Vai allo store</a>
        </button>
    </div>
</div>
