<div class="container mt-5">
  <!-- LOADING SPINNER -->
  <div *ngIf="isLoading">
    <app-loader></app-loader>
  </div>
  <!-- LOADING SPINNER -->
  <!-- TABELLA UTENTI -->
  <div *ngIf="!isSingleUser; else userDetails">
    <div class="mt-3" *ngIf="!isLoading">
      <app-table [data]="dataSource" [dati]="'utenti'" [columns]="displayedColumns"></app-table>
    </div>
  </div>
  <!-- / TABELLA UTENTI -->
  <!-- CARD DETTAGLI UTENTE -->
  <ng-template #userDetails>
    <app-user-detail [data]="user"></app-user-detail>
  </ng-template>
  <!-- / CARD DETTAGLI UTENTE -->
</div>
